*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Barlow", serif;
}

main{
    min-height: 100vh;
    padding: .1px;
}
.titulo{
    margin: 2rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    color: #000;
}
.contendor{
    min-height: 85vh;
    padding: 3rem 4rem;
    background-color: #CACCCE;
    display: grid;
    column-gap: 3rem;
    grid-template-columns: repeat(2,1fr);
}

.contendor__elemento{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

summary{
    background-color: #2176FF;
    padding: 1rem .5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    border-radius: .5rem;
    list-style: none;
    cursor: pointer;
}

details[open] summary {
    border-radius: .5rem .5rem 0 0;
    background-color: #478EFF;
}

p{
    font-size: 1.1rem;
    background-color: #fff;
    padding: 1rem .5rem;
    font-weight: 500;
    border-radius:0 0 .5rem .5rem;
}

@media (max-width:767px) {
    .contendor{
        grid-template-columns: 1fr;
    }

    .contendor__elemento--1{
        margin-bottom: 2rem;
    }
}